
<div class="text-center my-12 py-6">

    <h2 class=" text-2xl text-green-500 font bold">Booking confirmed!</h2>
  <p class="text-2xl mt-2">Thank you, <%= @booking.name %>! your appointment is scheduled.</p>
</div>
