<footer class="bg-black text-white px-6 py-10 mt-6">
  <div class="mx-auto max-w-6xl md:flex md:justify-between md:gap-20">

    <div class="mb-8 md:mb-0 md:w-1/3">
      
      <%= render 'layouts/logo', class:"text-red-800" %>
      
      <p class="leading-relaxed mb-6">
        At RemboBook our mission is to ensure that our customers have smooth booking of their services
      </p>

      <ul class="flex items-center gap-4"> 
        
        <li class="p-2 rounded-full transition hover:bg-pink-600">
          <a href="https://www.instagram.com" target="_blank">
            <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 24 24">
              <path d="M12 2.2c3.3 0 3.7 0 5 .1 1.3 0 2.2.3 3 1a4.3 4.3 0 0 1 1 3c.1 1.3.1 1.7.1 5s0 3.7-.1 5c0 1.3-.3 2.2-1 3a4.3 4.3 0 0 1-3 1c-1.3.1-1.7.1-5 .1s-3.7 0-5-.1c-1.3 0-2.2-.3-3-1a4.3 4.3 0 0 1-1-3c-.1-1.3-.1-1.7-.1-5s0-3.7.1-5c0-1.3.3-2.2 1-3a4.3 4.3 0 0 1 3-1c1.3-.1 1.7-.1 5-.1Zm0-2.2C8.6 0 8.1 0 6.8.1 5.4.2 4.3.5 3.4 1.3A6.3 6.3 0 0 0 1.3 3.4C.5 4.3.2 5.4.1 6.8 0 8.1 0 8.6 0 12s0 3.9.1 5.2c.1 1.4.4 2.5 1.2 3.4a6.3 6.3 0 0 0 2.1 2.1c.9.8 2 1.1 3.4 1.2C8.1 24 8.6 24 12 24s3.9 0 5.2-.1c1.4-.1 2.5-.4 3.4-1.2a6.3 6.3 0 0 0 2.1-2.1c.8-.9 1.1-2 1.2-3.4.1-1.3.1-1.8.1-5.2s0-3.9-.1-5.2c-.1-1.4-.4-2.5-1.2-3.4a6.3 6.3 0 0 0-2.1-2.1c-.9-.8-2-1.1-3.4-1.2C15.9 0 15.4 0 12 0Z"/>
            </svg>
          </a> 
        </li>
        
        <li class="p-2 rounded-full transition hover:bg-blue-700">
          <a href="https://facebook.com" target="_blank">
            <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 24 24">
              <path d="M22 12a10 10 0 1 0-11.55 9.94v-7.05h-2.68v-2.89h2.68V9.41c0-2.66 1.58-4.13 4-4.13 1.16 0 2.37.2 2.37.2v2.6h-1.34c-1.32 0-1.73.82-1.73 1.66v2h2.94l-.47 2.89h-2.47v7.05A10 10 0 0 0 22 12Z"/>
            </svg>
          </a>
        </li>
        
        <li class="p-2 rounded-full transition hover:bg-gray-700">
          <a href="https://www.tiktok.com" target="_blank">
            <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 24 24">
              <path d="M16 8.25c1.39 1 3.11 1.58 5 1.58v3.26a9.67 9.67 0 0 1-5-1.35v5.88a6.66 6.66 0 0 1-2 4.84A6.78 6.78 0 0 1 9.68 24a6.71 6.71 0 0 1-6.67-6.88 6.83 6.83 0 0 1 1.86-4.77A6.61 6.61 0 0 1 9 10.68h.49v3.31h-.49a3.36 3.36 0 0 0-3.33 3.39A3.36 3.36 0 0 0 9 20.79a3.41 3.41 0 0 0 3.42-3.4V0h3.6A4.91 4.91 0 0 0 16 2Z"/>
            </svg>
          </a>
        </li>
      </ul>  
    </div>

    <div class="md:w-2/3 grid grid-cols-1 md:grid-cols-2 gap-6 pt-8 md:pt-0">

      <div>
        <h3 class="mb-4 text-lg font-medium">Information</h3>
        <ul>
          <li class="mb-2 hover:underline cursor-pointer">Home</li>
          <li class="mb-2 hover:underline cursor-pointer">Features</li>
          <li class="mb-2 hover:underline cursor-pointer">Pricing</li>
          <li class="hover:underline cursor-pointer">About us</li>
        </ul> 
      </div>   
        
      

      <div>
        <h3 class="mb-4 text-lg font-medium">Contact</h3>
        <ul>
          
          <li class="flex items-center space-x-2 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 shrink-0">
              <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
            </svg>
            <span>Location:</span>
          </li>
          <p class="mb-2 ml-6">Mombasa, Kenya</p>
          
          <li class="flex items-center space-x-2 mt-4 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 shrink-0">
              <path fill-rule="evenodd" d="m3.855 7.286 1.067-.534a1 1 0 0 0 .542-1.046l-.44-2.858A1 1 0 0 0 4.036 2H3a1 1 0 0 0-1 1v2c0 .709.082 1.4.238 2.062a9.012 9.012 0 0 0 6.7 6.7A9.024 9.024 0 0 0 11 14h2a1 1 0 0 0 1-1v-1.036a1 1 0 0 0-.848-.988l-2.858-.44a1 1 0 0 0-1.046.542l-.534 1.067a7.52 7.52 0 0 1-4.86-4.859Z" clip-rule="evenodd" />
            </svg>
            <span>Phone:</span>
          </li>
          <p class="mb-2 ml-5"><a href="tel:+254711210437" class="hover:underline">+254 711 210 437</a></p>
          
          <li class="flex items-center space-x-2 mt-4 mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 shrink-0">
              <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
              <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
            </svg>
            <span>Email:</span>
          </li>
          <p class="ml-6"><a href="mailto:jchepyego@gmail.com" class="hover:underline">jchepyego@gmail.com</a></p>

        </ul>
      </div>

    </div>

  </div>
  
  <div class="border-t border-gray-700 mt-10 pt-4 text-center text-sm">
    <p>&copy; 2026 RemboBook   | Contact |  Privacy Policy |  Whatsaapp: +254711210437 </p>
  </div>
</footer>